<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><i>Eventos em Destaque</i></h1>

    <table border="1">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.nome_evento }}</td>
                <td>{{ evento.local_evento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>